
#home-page {
    height: 100vh /*80vh*/;
    padding-right: 20px;
    color: white;
    background-image: url(https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=40aeba3c68446f98649f5bf962faf5f0&auto=format&fit=crop&w=1480&q=80) /*url('../images/ht1.jpg')*/;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

    #home-page h1 {
        font-family: 'Monoton', cursive;
    }

    #home-page .row {
        margin-left: 5%;
    }

    #home-page h1 {
        animation-name: title-entrance;
        animation-duration: 3s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-delay: 0s;
    }

@keyframes title-entrance {
    0% {
        transform: translateX(150%);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateX(0%);
    }
}

#subtitle {
    animation-name: subtitle-entrance;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

@keyframes subtitle-entrance {
    0% {
        transform: translateX(-30%);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateX(0%);
    }
}

@media screen and (max-width: 768px) {    

    #home-page {
        height: 70vh;
    }
}
