/*#service {
    padding: 60px 0;
    min-height: 100vh;
}*/

/*    #service .card-bg {
        background: #01008a;
    }*/

#service .single_service {
    padding: 32px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    border: 1px solid #ccd1d1;
}


#service .icon {
    border: 1px solid #666;
    border-radius: 5%;
    color: gray;
    font-size: 35px;
    line-height: 65px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    width: 70px;
}

#service .single_service .single_service-left {
    padding-right: 25px;
}

.single_service-heading {
    font-size: 15px;
    font-weight: 700;
    text-transform:capitalize;
    color: #01008a;
}

.single_service-body p {
    font-size: 13px;
    line-height: 25px;
}

.single_service-left {
    display: table-cell;
    vertical-align: top;
}

.single_service-body {
    color: #000;
    display: table-cell;
    vertical-align: top;
}

.hvr-curl-top-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
}


